nav ul {
	float:right;
	vertical-align: middle;
}

nav ul li {
	display:inline-block;
	margin-right:10px;
	vertical-align: middle;
}

h2 {
	font:serif, sans-serif;
	font-style: italic;
}

body {
    background-color:#62a4d1;
    background-size:cover;
    height:100%;
}

#bulk {
	border-radius: 5px;
	width:1000px;
	height: auto !important;
	height: 100%;
	background-color:#e5e5e5;
	padding-left:6rem;
	margin-left:3rem;
	padding-top:2rem;
	padding-right:4rem;
	opacity: .5;
}

#bulk h2 {
	font-style: italic;
	font-size:2rem;

}

.push {
	height: 1em;
}

#footer {
    float:right;
    height:2rem;
    background-color:#FFFFFF;
    width:100%;
    border-top-right-radius:5px; 
    border-top-left-radius:5px;
    bottom:0;
    padding-bottom: -4em;
    margin-top:.5em;
}

#container {
	height:100%;
}